.main {
  position: absolute;
  width: 390px;
  height: 716px;
  left: 0px;
  top: 128px;

  background: #ffffff;
  border-radius: 40px 40px 0px 0px;
}

.SeatCounter {
  position: absolute;
  width: 332px;
  height: 85px;
  left: 31px;
  top: 26px;
}

.SeatCountDiv {
  position: absolute;
  width: 332px;
  height: 85px;
  left: 0px;
  top: 0px;

  background: rgba(51, 28, 158, 0.74);
  border-radius: 20px;
}

.SeatCount {
  position: absolute;
  width: 332px;
  height: 85px;
  left: 0px;
  top: 0px;

  background: rgba(51, 28, 158, 0.74);
  border-radius: 20px;
  z-index: 1;
}

#spareSeatLabel {
  position: absolute;
  width: 59px;
  height: 19px;
  left: 51px;
  top: 16px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #e0d8d8;
}

#spareSeatCnt {
  position: absolute;
  width: 29px;
  height: 29px;
  left: 68px;
  top: 42px;

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

#allSeatCnt {
  position: absolute;
  width: 46px;
  height: 29px;
  left: 222px;
  top: 42px;

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.frame2 {
  position: absolute;
  width: 75px;
  height: 51px;
  left: 209px;
  top: 18px;
}

#allSeatLabel {
  position: absolute;
  width: 46px;
  height: 19px;
  left: 222px;
  top: 16px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #e0d8d8;
}

.Contour {
  position: absolute;
  width: 85px;
  height: 0px;
  left: 120px;
  top: 43px;

  border: 1px dashed #fef9f9;
  transform: rotate(90deg);
  z-index: 2;
}

.MainBtnsDiv {
  position: absolute;
  width: 329px;
  height: 228px;
  left: 0px;
  top: 140px;
}

.SingleResvationDiv {
  position: absolute;
  width: 150px;
  height: 100px;
  left: 0px;
  top: 0px;
}

.btnDiv {
  position: absolute;
  width: 149px;
  height: 103px;
  left: 31px;
  top: 0px;

  background: #ecf4f3;
  border-radius: 20px;
}

.imgDiv {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 12px;
  top: 10px;

  background: #b6d8f2;
  border-radius: 10px;
}

#singleIcon1 {
  position: absolute;
  width: 35px;
  height: 35px;
  left: 15px;
  top: 12px;

  background-size: 100% 100%;
  border-radius: 10%;
}

#singleIcon2 {
  position: absolute;
  width: 35px;
  height: 35px;
  left: 15px;
  top: 12px;

  background-size: 100% 100%;
  border-radius: 10%;
}

#singleIcon3 {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 19.5px;
  top: 17px;

  background-size: 100% 100%;
  border-radius: 10%;
}

#singleIcon4 {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 19px;
  top: 17px;

  background-size: 100% 100%;
  border-radius: 10%;
}

#btnTitle {
  position: absolute;
  width: 120px;
  height: 17px;
  left: 12px;
  top: 65px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #312082;
}

.MultiResvationDiv {
  position: absolute;
  width: 150px;
  height: 100px;
  left: 179px;
  top: 0px;
}

.BoardDiv {
  position: absolute;
  width: 150px;
  height: 100px;
  left: 0px;
  top: 128px;
}

.NoticeDiv {
  position: absolute;
  width: 150px;
  height: 100px;
  left: 179px;
  top: 128px;
}

.SeatDiv {
  position: absolute;
  width: 332px;
  height: 118px;
  left: 31px;
  top: 398px;
}

#currentbtnDiv {
  position: absolute;
  width: 332px;
  height: 91px;
  left: 0px;
  top: 27px;

  background: #dfecdd;
  border-radius: 20px;
}

#currentbtnTitle {
  position: absolute;
  width: 300px;
  height: 19px;
  left: 110px;
  top: 27px;

  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 19px;

  color: #5b42cf;
}

#currentbtnTitleDesc {
  position: absolute;
  width: 207px;
  height: 16px;
  left: 110px;
  top: 50px;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  color: #b3a7ff;
}

#seatDivLabel {
  position: absolute;
  width: 120px;
  height: 15px;
  left: 0px;
  top: 0px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}

#ancestors {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 20px;
  top: 11px;

  background-size: 100% 100%;
  border-radius: 10%;
}
