.LoginHeader {
  position: absolute;
  width: 250px;
  height: 19px;
  left: 130px;
  top: 20px;

}

.FastCheckDiv {
  position: absolute;
  width: 250px;
  height: 19px;
  left: 0px;
  top: 0px;
}

.FastCheckTitle {
  position: absolute;
  width: 190px;
  height: 15px;
  left: 0px;
  top: 4px;

  font-family: 'Itim';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;

  color: #7B7F7E;

}

.FastCheckBtn {
  position: absolute;
  width: 60px;
  height: 15px;
  left: 190px;
  top: 4px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;
  text-align: center;

  color: #6359A1;
}