.App-logo {
  position: absolute;
  width: 346px;
  height: 100px;
  left: 22px;
  top: 322px;
}

.App-text {
  position: absolute;
  width: 346px;
  height: 60px;
  left: 0px;
  top: 20px;

  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  text-align: center;

  color: rgba(49, 32, 130, 0.73);
}

.App-link {
  color: #61dafb;
}