.TitleDiv {
  position: absolute;
  width: 390px;
  height: 60px;
  left: 0px;
  top: 0px;

  background: rgba(51, 28, 158, 0.74);
}

.Title {
  position: absolute;
  width: 75px;
  height: 24px;
  left: 155px;
  top: 18px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.ReservationBtnsDiv {
  position: relative;
  width: 390px;
  height: 45px;
  top: 60px;
}

.ReservationBtnDiv {
  position: absolute;
  width: 195px;
  height: 45px;
  left: 0px;
  top: 0px;
}

.ReservationBtnText {
  position: absolute;
  width: 126px;
  height: 29px;
  left: 37px;
  top: 8px;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  /* identical to box height */

  align-items: center;
  text-align: center;

  color: rgba(1, 1, 1, 0.4);
}

.HistoryBtnDiv {
  position: absolute;
  width: 195px;
  height: 45px;
  left: 195px;
  top: 0px;
}

.HistoryBtnText {
  position: absolute;
  width: 76px;
  height: 29px;
  left: 60px;
  top: 8px;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  /* identical to box height */

  align-items: center;
  text-align: center;

  color: #312082;
}

.ShowingBar {
  position: relative;
  width: 191px;
  height: 0px;
  left: 0px;
  top: 45px;
  border: 2px solid #b3a7ff;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
