input {
  padding-left: 15px;
}

.Success {
  color: #00c236;
}
.Fail {
  color: rgb(203, 48, 48);
}

.SUMain {
  position: absolute;
  width: 330px;
  height: 773px;
  left: 43px;
  top: 41px;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Scroll Option Adjust*/
.SUMain::-webkit-scrollbar {
  width: 5px;
}

.SUMain::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(126, 101, 237, 0.805);
}

.SUMain::-webkit-scrollbar-track {
  background-color: #ecf4f3;

  border-radius: 10px;
  box-shadow: inset 0px 0px 5px #ecf4f3;
}

.SUHeader {
  position: absolute;
  width: 304px;
  height: 131px;
  left: 0px;
  top: 0px;
}

.SUBackBtn {
  position: absolute;
  width: 30px;
  height: 19px;
  left: 0px;
  top: 1px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;

  color: rgba(49, 32, 130, 0.73);
}
.SUMainTitle {
  position: absolute;
  width: 270px;
  height: 38px;
  left: 0px;
  top: 48px;

  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;

  color: rgba(49, 32, 130, 0.73);
}

.SUSubTitle {
  position: absolute;
  width: 172px;
  height: 34px;
  left: 0px;
  top: 97px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: rgba(0, 0, 0, 0.46);
}

.SUInputsDiv {
  position: absolute;
  width: 304px;
  height: 611px;
  left: 0px;
  top: 155px;
}

.SUIDDiv {
  position: absolute;
  width: 304px;
  height: 73px;
  left: 0px;
  top: 0px;
}

.SUIDLabel {
  position: absolute;
  width: 16px;
  height: 18px;
  left: 0px;
  top: 0px;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #312082;
}

.SUValiText {
  position: absolute;
  width: 220px;
  height: 16px;
  top: 1px;
  right: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
}

.SUIDInput {
  position: absolute;
  height: 47px;
  left: 1px;
  top: 26px;
  right: 0px;

  font-size: small;
  background: #ffffff;
  border-radius: 20px;
  border: none;
}

.SUNameDiv {
  position: absolute;
  width: 304px;
  height: 73px;
  left: 0px;
  top: 103px;
}

.SUNameLabel {
  position: absolute;
  width: 38px;
  height: 18px;
  left: 0px;
  top: 0px;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #312082;
}

.SUNameInput {
  position: absolute;
  height: 47px;
  left: 1px;
  top: 26px;
  right: 0px;

  font-size: small;
  background: #ffffff;
  border-radius: 20px;
  border: none;
}

.SUNickNameDiv {
  position: absolute;
  width: 304px;
  height: 73px;
  left: 0px;
  top: 206px;
}

.SUNickLabel {
  position: absolute;
  width: 100px;
  height: 18px;
  left: 0px;
  top: 0px;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #312082;
}

.SUNickInput {
  position: absolute;
  height: 47px;
  left: 1px;
  top: 26px;
  right: 0px;

  font-size: small;
  background: #ffffff;
  border-radius: 20px;
  border: none;
}

.SUPWDiv {
  position: absolute;
  width: 304px;
  height: 73px;
  left: 0px;
  top: 309px;
}

.SUPWView {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 270px;
  top: 40px;

  background: url(../assets/images/view.png);
  background-size: 100% 100%;
  z-index: 11;
}

.SUPWHidden {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 270px;
  top: 40px;

  background: url(../assets/images/hidden.png);
  background-size: 100% 100%;
  opacity: 0.5;
  z-index: 11;
}

.SUPWLabel {
  position: absolute;
  width: 62px;
  height: 18px;
  left: 0px;
  top: 0px;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #312082;
}

.SUPWInput {
  position: absolute;
  height: 47px;
  left: 1px;
  top: 26px;
  right: 0px;

  font-size: small;
  background: #ffffff;
  border-radius: 20px;
  border: none;
}

.SUPWChkDiv {
  position: absolute;
  width: 304px;
  height: 73px;
  left: 0px;
  top: 412px;
}

.SUPWChkLabel {
  position: absolute;
  width: 120px;
  height: 18px;
  left: 0px;
  top: 0px;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #312082;
}

.SUPWChkInput {
  position: absolute;
  height: 47px;
  left: 1px;
  top: 26px;
  right: 0px;

  font-size: small;
  background: #ffffff;
  border-radius: 20px;
  border: none;
}

.SUSeperator1 {
  box-sizing: border-box;

  position: absolute;
  height: 5px;
  left: 0px;
  top: 515px;
  right: 0px;

  background: #ffffff;
  border: 1px solid #e4e4f4;
  border-radius: 5px;
}

.SUAuthDiv {
  position: absolute;
  width: 304px;
  height: 78px;
  left: 0px;
  top: 539px;
}

.SUAuthLabel {
  position: absolute;
  width: 110px;
  height: 17px;
  left: 0px;
  top: 0px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #312082;
}

.SUAuthBtnLabel {
  position: absolute;
  width: 60px;
  height: 18px;
  left: 124px;
  top: 40px;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  z-index: 1;
  cursor: pointer;

  color: #312082;
}

.SUAuthBtn {
  position: absolute;
  height: 47px;
  left: 0px;
  top: 25px;
  right: 0px;
  cursor: pointer;

  background: #b6d8f2;
  border-radius: 20px;
}

.SUAcceptDiv {
  position: absolute;
  width: 90px;
  height: 20px;
  left: 0px;
  top: 640px;
}

.SUSeperator2 {
  box-sizing: border-box;

  position: absolute;
  width: 304px;
  height: 5px;
  left: 0px;
  top: 35px;

  background: #ffffff;
  border: 1px solid #e4e4f4;
  border-radius: 5px;
}

.SUAcceptCB {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0px;

  box-sizing: border-box;
  background: #ffffff;
  mix-blend-mode: normal;
  border: 1px solid rgba(0, 0, 0, 0.35);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.SUAcceptText {
  position: absolute;
  width: 300px;
  height: 20px;
  left: 29px;
  line-height: 16px;

  font-style: normal;
  font-weight: 400;
  font-size: 13px;

  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.CB1 {
  top: 1px;
}

.CB2 {
  top: 53px;
}

.CB3 {
  top: 91px;
}

.CB4 {
  top: 129px;
}

.CB5 {
  top: 167px;
}

.CB6 {
  top: 205px;
}

.CB7 {
  top: 243px;
}

.AcceptText1 {
  width: 60px;
  top: 0px;
  font-size: 13px;
}

.AcceptText2 {
  top: 53px;
}

.AcceptText3 {
  top: 91px;
}

.AcceptText4 {
  top: 129px;
}

.AcceptText5 {
  top: 167px;
}

.AcceptText6 {
  top: 205px;
}

.AcceptText7 {
  top: 243px;
}

.SULink {
  position: absolute;
  right: 35px;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;

  color: rgba(0, 0, 0, 0.37);
}

.MandatoryOption {
  color: rgba(49, 32, 130, 0.73);
  padding-right: 5px;
}

.OptionalOption {
  padding-right: 5px;
}

.SUBtnDivs {
  position: absolute;
  width: 307px;
  height: 115px;
  left: 0px;
  top: 950px;
}

.SUReigsterBtnDiv {
  position: relative;
  width: 304px;
  height: 47px;
  left: 1px;
  top: 0px;
  cursor: pointer;
}

.SingUpBtnText {
  position: absolute;
  width: 70px;
  height: 20px;
  left: 120px;
  top: 14px;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  z-index: 1;
}

.SingUpBtn {
  position: absolute;
  width: 304px;
  height: 47px;
  left: 0px;
  top: 0px;

  background: rgba(51, 28, 158, 0.74);
  border-radius: 20px;
  cursor: pointer;
}

.SUInitBtnDiv {
  position: absolute;
  width: 304px;
  height: 47px;
  left: 0px;
  top: 68px;
  cursor: pointer;
}

.SUClearBtnDivText {
  position: absolute;
  width: 45px;
  height: 20px;
  left: 130px;
  top: 14px;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  z-index: 1;
}

.SUClearBtn {
  position: absolute;
  width: 304px;
  height: 47px;
  left: 0px;
  top: 0px;

  background: rgba(51, 28, 158, 0.74);
  border-radius: 20px;
  cursor: pointer;
}
.SUFooter {
  width: 304px;
  position: absolute;
  height: 70px;
  left: 0px;
  top: 1250px;

  border-radius: 45px;
}

.SUFooterTitle {
  position: absolute;
  height: 58px;
  left: 0px;
  top: 16px;
  right: 0px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: rgba(49, 32, 130, 0.73);
}

.SUFooterA {
  color: rgba(49, 32, 130, 0.73);
}
.SULink {
  cursor: pointer;
}
input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: none;
  appearance: none;
  cursor: pointer;
  transition: background 0.2s;
}

input[type="checkbox"]:checked {
  background: #32e732;
  border: none;
}
