.AMMain {
  position: absolute;
  width: 346px;
  height: 742px;
  left: 22px;
  top: 20px;
}
.AMMainHeader {
  position: absolute;
  width: 307px;
  height: 106px;
  left: 19px;
  top: 14px;
}

.AMTitleDiv {
  position: absolute;
  width: 165px;
  height: 61px;
  left: 0px;
  top: 6px;
}

.AMMainTitle {
  position: absolute;
  width: 125px;
  height: 38px;
  left: 0px;
  top: 0px;

  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;

  color: rgba(49, 32, 130, 0.73);
}

.AMSubTitle {
  position: absolute;
  width: 190px;
  height: 17px;
  left: 0px;
  top: 44px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: rgba(0, 0, 0, 0.46);
}

.AMProfileDiv {
  box-sizing: border-box;

  position: absolute;
  width: 100px;
  height: 67px;
  left: 207px;
  top: 0px;

  border: 1px solid rgba(49, 32, 130, 0.73);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
}

.AMProfileImage {
  position: absolute;
  width: 52px;
  height: 51px;
  left: 24px;
  top: 8px;

  background-size: 100% 100%;
  z-index: 1;
}

.AMMainBody {
  position: absolute;
  width: 307px;
  height: 608px;
  left: 19px;
  top: 120px;
}
.AMInputs {
  position: absolute;
  width: 307px;
  height: 598px;
  left: 19px;
  top: 120px;
}

.AMIDDiv {
  position: absolute;
  width: 307px;
  height: 73px;
  left: 0px;
  top: 0px;
}
.AMIDLabel {
  position: absolute;
  width: 16px;
  height: 18px;
  left: 0px;
  top: 0px;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #312082;
}

.AMIDReadOnlyInput {
  position: absolute;
  height: 47px;
  left: 0px;
  top: 26px;
  right: 0px;
  font-size: medium;

  background: rgba(128, 128, 128, 0.25);
  border-radius: 20px;
  border: none;
}

.AMNameDiv {
  position: absolute;
  width: 307px;
  height: 73px;
  left: 0px;
  top: 94px;
}

.AMNameLabel {
  position: absolute;
  width: 38px;
  height: 18px;
  left: 0px;
  top: 0px;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #312082;
}

.AMNameInput {
  position: absolute;
  height: 47px;
  left: 0px;
  top: 26px;
  right: 0px;
  font-size: medium;

  background: #ffffff;
  border-radius: 20px;
  border: none;
}

.AMNickNameDiv {
  position: absolute;
  width: 307px;
  height: 73px;
  left: 0px;
  top: 188px;
}
.AMNickNameLabel {
  position: absolute;
  width: 75px;
  height: 18px;
  left: 0px;
  top: 0px;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #312082;
}

.AMNickNameInput {
  position: absolute;
  height: 47px;
  left: 0px;
  top: 26px;
  right: 0px;

  font-size: medium;
  background: #ffffff;
  border-radius: 20px;
  border: none;
}
.AMPWDiv {
  position: absolute;
  width: 307px;
  height: 73px;
  left: 0px;
  top: 282px;
}
.AMPWLabel {
  position: absolute;
  width: 62px;
  height: 18px;
  left: 0px;
  top: 0px;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #312082;
}
.AMPWInput {
  position: absolute;
  height: 47px;
  left: 0px;
  top: 26px;
  right: 0px;

  font-size: medium;
  background: #ffffff;
  border-radius: 20px;
  border: none;
}
.AMPWChkDiv {
  position: absolute;
  width: 307px;
  height: 73px;
  left: 0px;
  top: 376px;
}
.AMPWChkLabel {
  position: absolute;
  width: 120px;
  height: 18px;
  left: 0px;
  top: 0px;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #312082;
}
.AMPWChkInput {
  position: absolute;
  height: 47px;
  left: 0px;
  top: 26px;
  right: 0px;

  font-size: medium;
  background: #ffffff;
  border-radius: 20px;
  border: none;
}

.AMBtnsDiv {
  position: absolute;
  width: 307px;
  height: 115px;
  left: 0px;
  top: 493px;
}

.AcceptBtnDiv {
  position: absolute;
  width: 307px;
  height: 47px;
  left: 0px;
  top: 0px;
}

.AccepBtnText {
  position: absolute;
  width: 54px;
  height: 18px;
  left: 126px;
  top: 14px;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  z-index: 1;
}

.AcceptBtn {
  position: absolute;
  width: 307px;
  height: 47px;
  left: 0px;
  top: 0px;

  background: rgba(51, 28, 158, 0.74);
  border-radius: 20px;
  cursor: pointer;
}

.CancleBtnDiv {
  position: absolute;
  width: 307px;
  height: 47px;
  left: 0px;
  top: 68px;
}

.CancleBtnText {
  position: absolute;
  width: 28px;
  height: 18px;
  left: 140px;
  top: 14px;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  z-index: 1;
}

.CancleBtn {
  position: absolute;
  width: 307px;
  height: 47px;
  left: 0px;
  top: 0px;

  background: rgba(51, 28, 158, 0.74);
  border-radius: 20px;
  cursor: pointer;
}
