.Room1Div {
  position: absolute;
  width: 158px;
  height: 175px;
  left: 31px;
  top: 99.05px;
}

.Room1Num {
  position: absolute;
  width: 60px;
  height: 30px;

  font-family: "Itim";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #ffffff;
  z-index: 1;
}

.Room1Obj {
  border-radius: 20px;
}

.Room2Div {
  position: absolute;
  width: 158px;
  height: 150px;
  left: 31px;
  top: 319px;
}

.Room2Num {
  position: absolute;
  width: 60px;
  height: 30px;

  font-family: "Itim";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #ffffff;
  z-index: 1;
}

.Room2Obj {
  border-radius: 20px;
}

.Room3Div {
  position: absolute;
  left: 226px;
  top: 99px;
}

.Room3Num {
  position: absolute;
  width: 60px;
  height: 30px;

  font-family: "Itim";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #ffffff;
  z-index: 1;
}


.Room3Obj {
  border-radius: 20px;
}

.Room4Div {
  position: absolute;
  left: 226px;
  top: 274px;
}

.Room4Num {
  position: absolute;
  width: 60px;
  height: 30px;

  font-family: "Itim";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #ffffff;
  z-index: 1;
}

.Room4Obj {
  border-radius: 20px;
}

.Room5Div {
  position: absolute;
  left: 226px;
  top: 449px;
}

.Room5Num {
  position: absolute;
  width: 60px;
  height: 30px;

  font-family: "Itim";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #ffffff;
  z-index: 1;
}

.Room5Obj {
  border-radius: 20px;
}

.Empty {
  width: 158px;
  height: 175px;

  border-radius: 20px;
  background: rgba(49, 32, 130, 0.75);
}
.Full {
  width: 158px;
  height: 175px;
  
  border-radius: 20px;
  background: rgba(49, 32, 130, 0.2);
}

.EmptySmall {
  width: 140px;
  height: 130px;

  border-radius: 20px;
  background: rgba(49, 32, 130, 0.75);
}
.FullSmall {
  width: 140px;
  height: 130px;
  
  border-radius: 20px;
  background: rgba(49, 32, 130, 0.2);
}

.BigRoomStatus {
  position: absolute;
  width: 158px;
  height: 30px;
  left: 0px;
  top: 73px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  z-index: 1;
}

.SmallRoomStatus {
  position: absolute;
  width: 140px;
  height: 30px;
  left: 0px;
  top: 50px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  color: #ffffff;
  z-index: 1;
}