.ReservationListHeader {
  /* position: absolute; */
  width: 390px;
  height: 148px;
  left: 0px;
  top: 0px;
}

.SlideBar {
  position: absolute;
  width: 80px;
  height: 15px;
  left: 155px;
  top: 133px;

  background: #D9D9D9;
  border-radius: 0px 0px 30px 30px;
}

.SlideBarLine1 {
  position: absolute;
  width: 30px;
  height: 0px;
  left: 25px;
  top: 11px;

  border: 1px solid rgba(0, 0, 0, 0.5);
}

.SlideBarLine2 {
  position: absolute;
  width: 30px;
  height: 0px;
  left: 25px;
  top: 5px;

  border: 1px solid rgba(0, 0, 0, 0.5);
}

.ReservationListProfileImgDiv {
  position: absolute;
  width: 90px;
  height: 90px;
  left: 24px;
  top: 15px;
}

.ReservationListProfileImg {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 15px;
  top: 15px;

  background-size: 100% 100%;
  z-index: 2;
}

.ReservationListProfileImgBox {
  position: absolute;
  width: 90px;
  height: 90px;
  left: 0px;
  top: 0px;

  background: #D9D9D9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.ReservationListUserInfoDiv {
  position: absolute;
  width: 198px;
  height: 104px;
  left: 168px;
  top: 15px;
}

.ReservationListNickName {
  position: absolute;
  width: 80px;
  height: 26px;
  left: 0px;
  top: 0px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;

  color: #312082;
  z-index: 1;
}

.ReservationListPoint {
  position: absolute;
  width: 75px;
  height: 20px;
  left: 0px;
  top: 34px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #000000;
  z-index: 1;
}

.ReservationListRank {
  position: absolute;
  width: 75px;
  height: 20px;
  left: 0px;
  top: 54px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #000000;
  z-index: 1;
}

.ReservationListUserModifyBtn {
  position: absolute;
  width: 70px;
  height: 15px;
  left: 0px;
  top: 89px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #312082;
  z-index: 1;
}

.ReservationListLogoutBtn {
  position: absolute;
  width: 70px;
  height: 15px;
  left: 99px;
  top: 89px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #312082;
  z-index: 1;
}

.ReservationListUserInfoBox {
  position: absolute;
  width: 390px;
  height: 133px;
  left: 0px;
  top: 0px;

  background: #ECF4F3;
  border-radius: 40px 40px 20px 20px;
}